body {
  margin: 1em 3em;
  color: #555;
}
table {
  border-collapse: collapse;
}
tbody {
  color: black;
}
h1,
h2 {
  color: darkslategray;
}
th,
td {
  border-bottom: 1px solid #ddd;
}
td {
  line-height: 1.5;
  font-size: 1.2em;
  padding: 0 0.8em;
}
th {
  line-height: 2;
  padding: 0 0.8em;
}
tr.offline {
  background: lightpink;
}
#servers {
  font-family: "Courier New", Courier, monospace;
}
#servers tr:hover {
  background-color: #eee;
}
#servers tr.selected {
  background-color: #eee;
}
#servers td:nth-child(n + 2) {
  text-align: right;
}
thead th:nth-child(n + 2) {
  text-align: right;
}
#servers td:last-child,
#servers thead th:last-child {
  text-align: left;
}
#servers td:last-child {
  min-width: 7em;
  text-align: right;
}
#total-alive-conn {
  margin-right: 1.5em;
}
th > button,
td > button {
  background: none;
  border: none;
  padding: inherit;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
}
th > button:hover,
td > button:hover {
  text-decoration: underline;
}

span.filesize {
  color: gray;
}
span.filesize.unit-M {
  color: black;
}
span.filesize.unit-G {
  color: green;
}
span.filesize.unit-T {
  color: blue;
}
span.filesize.unit-P {
  color: red;
}

span.throughput > span.unit {
  color: gray;
  font-size: 0.8em;
}

div.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 2rem 1rem;
}

.modal .modal-dialog {
  max-width: 550px;
  margin: 1rem auto;
  background: white;
  border: 1px solid lightgray;
  border-radius: 0.2rem;
  padding: 1rem 1.5rem;
  display: flow-root;
}
.modal-dialog .action-close {
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  float: right;
}
.modal-dialog .action-close:hover {
  text-decoration: underline;
}

h3.server-tag {
  font-family: "Courier New", Courier, monospace;
}
h3.server-tag > .server-url {
  font-weight: normal;
}

.server-details {
  display: table;
}
.server-details > div {
  margin: 0.5rem 0;
  display: table-row;
  line-height: 1.8;
}
.server-details > div > span:first-child {
  display: table-cell;
  padding-right: 1.5em;
}
.server-details > div:hover {
  color: black;
}
.server-details > div > span.split {
  margin: 0 0.5em;
}
.server-details > hr {
  height: 1em;
  width: 100%;
  display: table-row;
}

.capabilities > ul {
  list-style: none;
  display: inline;
  padding: 0;
  margin: 0;
}
.capabilities > ul > li {
  display: inline-block;
  margin-right: 0.5em;
}

.score-and-delay .base-score {
  font-size: 0.6em;
  vertical-align: top;
  margin-left: 0.4rem;
}

.throughput span.tx-speed,
.throughput span.rx-speed {
  min-width: 6em;
  display: inline-block;
}

.close-history > div {
  display: inline;
}
ul.close-history-diagram {
  list-style: none;
  display: inline;
  padding: 0 0.5em 0 0;
  margin: 0;
}
.close-history-diagram > li {
  width: 4px;
  height: 1em;
  display: inline-block;
  border-right: solid 1px white;
  vertical-align: middle;
}
.close-history-diagram > li.close-ok {
  background: green;
}
.close-history-diagram > li.close-err {
  background: red;
}
.close-history-summary > span:last-child {
  font-size: 0.6em;
}
